{% extends 'accounts/base.html.twig' %}

{% block contentpage %}
<div class="panel panel-default form-central"
  style="width: 50%; margin-left: auto; margin-right: auto; margin-top: 3%;">

  <!-- messages -->
  {% for message in app.flashes('msg') %}
  <div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
  </div>
  {% endfor %}
  <!-- end messages -->

  <div class="container">
    <h2>Detalhes do Produto</h2>
    <form action="/run_edit_product" 
    method="post" enctype="multipart/form-data">
      <input type="hidden" name='id' value="{{product.id}}"/>
      <div class="form-group">
        <label>Valor R$:</label>
        <input name='value' class="form-control"
        placeholder="Digite o novo valor do producto"
        value="{{ product.value }}">
      </div>

      <div class="form-group">
        <label>Descrição:</label>
        <textarea class="form-control" rows="5" name="description"
        placeholder="Digite a descrição do novo producto">
        	{{ product.description }}
        </textarea>
      </div>

      <div class="form-group">
        <label>Categoria:</label>
        <select class="form-control" name="category">

          {% for category in categories %}
          	{% if category.name == currentCategory.name %}
            	<option value='{{ category.id }}' selected="selected">
            		{{ category.name }}
            	</option>
            {% else %}
            	<option value='{{ category.id }}'>
            		{{ category.name }}
            	</option>
            {% endif %}
          {% endfor %}          

        </select>
      </div>

      <div class="form-group" style="width: 50%;">
        <label>Imagem atual:</label>
        <image class="form-control" 
        src="{{ asset('uploads/images/') }}{{ product.image }}">
      </div>

      <div class="form-group">
        <label>Substituir imagem:</label>
        <input type="file" name='image' class="form-control">
      </div>      

      <button type="submit" class="btn btn-primary">Editar</button>
      <a class="btn btn-danger" style='color: white' 
        href="{{ path('delete_product', {'id': product.id}) }}">
        Deletar
      </a>
    </form>
  </div>

{% endblock %}
