{% extends 'accounts/base.html.twig' %}

{% block contentpage %}
<div class="panel panel-default form-central"
	style="width: 70%; margin-left: auto; margin-right: auto; margin-top: 3%;">
	<table id="table" class="display">

		<thead>
			<tr>
				<th>ID</th>
				<th>Descrição</th>
				<th>Imagem</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for promotion in promotions %}
			<tr>
				<td>
					<a href="{{ path('edit_promotion', {'id': promotion.id}) }}"
					 title="Detalhes">
					{{ promotion.id }}
					</a>
				</td>
				<td>{{ promotion.description }}</td>
				<td><img src="{{ asset('uploads/images/thumb/') }}{{ promotion.image }}"></td>
				<td>
					<a class="btn btn-danger" style='color: white' 
						href="{{ path('delete_promotion') }}?id={{ promotion.id }}">
						Deletar
					</a>
				</td>

			</tr>
			{% endfor %}


		</tbody>
	</table>
	


</div>
{% endblock %}
