{% extends 'base.html.twig' %}

{% block contentpage %}


<div class="container-fluid" style="margin-top: 2%">
		<div class="container-fluid">
			<h2>Noma da Categoria</h2>
			
			<div class="row">
				{% for product in products %}
				<div class="col-sm-4">
					<img 
					src="{{ asset('uploads/images/thumb/') }}{{ product.image }}" 
					alt="imagem do produto" />
					<div>{{ product.name }}</div>
					<div>{{ product.description }}</div>
					<div>
						<a href="#">
						Colocar no Carrinho
						</a>
					</div>
					<p></p>
				</div>
				{% endfor %}
			</div>
			
			{# display navigation #}
			<div class="navigation">
			    {{ knp_pagination_render(products) }}
			</div>

		</div>
	</div>

  
{% endblock %}